/* Home */
.image{
    height: 225px;
    width: 225px;
    object-fit: cover;
}
img{
    height:100%;
    width:100%;
    margin:15px;
}
.home{
    /* display:flex; */
    align-items: center;
    justify-content:center;
   
}
.info{
    margin: 15px;
}